@font-face {
    font-family: "Yomogi";
    src: url("../../public/fonts/Yomogi-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "ComicNeue";
    src: url("../../public/fonts/ComicNeue-Light.ttf") format("truetype");
}

@font-face {
    font-family: "ComicNeue";
    src: url("../../public/fonts/ComicNeue-LightItalic.ttf") format("truetype");
    font-style: italic;
}

@font-face {
    font-family: "ComicNeue";
    src: url("../../public/fonts/ComicNeue-Bold.ttf") format("truetype");
    font-weight: bold;   
}


@font-face {
    font-family: "ComicNeue";
    src: url("../../public/fonts/ComicNeue-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;   
}

