@use 'variables' as *;

:root {
  background-color: $color_background;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  
  &::before {
    content: "";
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: -9999;
    background-image: linear-gradient(
      to right,
      $color_nav-background 50%,
      $color_background 50%
    );
  }
}

body {
  margin: 0;
}

.site {
  display: flex;
  justify-content: center;
  height: 100vh;

  .page {
    width: 1200px;
    background: $color_background;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}