@use 'variables' as *;

nav {
    display: grid;
    align-content: center;
    justify-content: center;
    font-family: ComicNeue;
    text-align: center;
    width: $nav_width;
    flex-shrink: 0;
    background-color: $color_nav-background;

    ul {
        margin: 0;
        padding: 0;
    }

    li {

    }
}